{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="section">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.stock }}</td>
                        <td>{{ transaction.name }}</td>
                        <td>{{ transaction.shares }}</td>
                        <td>{{ transaction.price | usd }}</td>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.time }}</td>
                    {% endfor %}
                     </tr>
                </tbody>
        </table>
    </div>
{% endblock %}